@font-face {
    font-family: 'Roboto font';
    src: url(/font/Roboto-BoldItalic.ttf);
}
header{
    font-family: 'Roboto font', Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1f2937;
}
b{
    color: #f9faf8;
    font-size: 48px;
}
h1{
    color: #f9faf8;
    font-size: 24px;
}
p, .header{
    color: #e5e7eb;
    font-size: 18px;
}